Upstream access for devpi-server does not work via proxy

- Bitbucket: https://bitbucket.org/hpk42/devpi/issue/22
- Originally reported by: @berhoel
- Originally created at: 2013-08-01T16:30:50.119


The requests library already provides support for proxy server. Unfortunately the fiddling with the "Host" header entry when accessing front.python.org does not play with at least or proxy server. As I understand the last paragraph of section 14.23 of [RFC 2616 (Hypertext Transfer Protocol -- HTTP/1.1)](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.23):

**An HTTP/1.1 proxy MUST ensure that any request message it forwards does contain an appropriate Host header field that identifies the service being requested by the proxy.**

the proxy is required to modify the Host entry?

In a first step USE_FRONT in main.py should be set to "0" when a proxy is to be used (requests looks for an environment variable HTTPS_PROXY). If one day a "--proxy" option is added to devpi-server, using this option should also case USE-FRONT to be disabled.
